@model CCBlog.Controllers.PostController.PostEditModel

@{
    var isNewPost = Model.Post.PostId == 0;
    ViewBag.Title = isNewPost ? "Add New Post" : "Edit Post - " + Model.Post.Title;
    var Heading = isNewPost ? "Add New Post" : "Edit Post";
}

@section HeadContent {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/anytime.c.css")" />
}


<h2>@Heading</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
        
    @Html.HiddenFor(model => model.Post.PostId)
    @Html.HiddenFor(model => model.OriginalPostSerialized)

    @Html.ValidationSummary(true)


    <div>
        @Html.LabelFor(model => model.Post.Title)
    </div>
    <div>
        @Html.EditorFor(model => model.Post.Title)
        @Html.ValidationMessageFor(model => model.Post.Title)
    </div>

    <div>
        @Html.LabelFor(model => model.Post.Body)
    </div>
    <div>
        @Html.EditorFor(model => model.Post.Body)
        @Html.ValidationMessageFor(model => model.Post.Body)
    </div>

    <div>
        @Html.LabelFor(model => model.Post.AuthorCreateDate)
    </div>
    <div>
        @Html.EditorFor(model => model.Post.AuthorCreateDate)
        @Html.ValidationMessageFor(model => model.Post.AuthorCreateDate)
    </div>

    <div>
        @Html.LabelFor(model => model.Post.AuthorModifyDate)
    </div>
    <div>
        @Html.EditorFor(model => model.Post.AuthorModifyDate)
        @Html.ValidationMessageFor(model => model.Post.AuthorModifyDate)
    </div>

        <p>
            <input type="submit" value="Save" />
        </p>
}

<div>
    @Html.ActionLink("Home", "Index")
</div>

@section ScriptContent {
    <script src="@Url.Content("~/js/vendor/anytime.c.js")"></script>
    
    <script>
        $("#AuthorCreateDate").AnyTime_picker({ format: "%Y-%m-%d %H:%i:%s %E %#", formatUtcOffset: "%: (%@@)", hideInput: true, placement: "inline" });
        $("#AuthorModifyDate").AnyTime_picker({ format: "%Y-%m-%d %H:%i:%s %E %#", formatUtcOffset: "%: (%@@)", hideInput: true, placement: "inline" });
    </script>
}
